<header class="page-header">
<h1>Jungle</h1>
</header>
  <div class="panel panel-default rounded">
    <div class="panel-body">
      <h3>
        Jungle is the best site out there with wierd produts.
      <h3>
  </div>
  </div>